/* Reseteo estilos */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
}

.container {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.container__layout {

}

.layout__box {
  font-size: 20px;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
}

.clearfix {

}

.layout__box--red {
  background-color: red;
  color: white;
}

.layout__box--green {
  background-color: green;
  color: black;
}

.layout__box--yellow {
  background-color: yellow;
  color: black;
}

.layout__box--orange {
  background-color: orange;
  color: white;
}

.layout__box--pink {
  background-color: pink;
  color: white;
}

.layout__box--blue {
  background-color: blue;
  color: white;
}

.layout__box--cyan {
  background-color: cyan;
  color: black;
}

.layout__box--salmon {
  background-color: salmon;
  color: white;
}

.layout__box--black {
  background-color: black;
  color: white;
}

.layout__box--yellowgreen {
  background-color: palegreen;
  color: black;
}
