// Variables
$b: "body";
$color-fondo: #ccc;
$color-fondo2: blue;
$color-letra: black;
$color-letra2: blue;

body {
  background-color: $color-fondo;
}

h1 {
  color: $color-letra;
  background-color: $color-fondo2;
}

// Anidación
.caja {
  border: 1px solid black;
  margin: 0px auto;
  text-align: center;
  background-color: white;
  padding: 10px;

  h2 {
    color: $color-letra2;
  }
  .info {
    border: 1px solid black;
    h2 {
      color: $color-letra;
      font-size: 18px;
    }
  }
}