/* Iniciamos estilos personalizados  */
@font-face{
    font-family: "WebSymbolsRegular";
    src: url("../fonts/websymbols-regular-webfont.eot");
    src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/websymbols-regular-webfont.woff") format("woff"),
         url("../fonts/websymbols-regular-webfont.ttf") format("truetype"),
         url("../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* Definición Variables, definimos familia de fuente que voy a utilizar */
:root{
    --mx-width: 1240px;
    --color-primary: #3C917B;
    --color-secondary: #EBF9F6;
    --color-backgroung: #ccc;
    --color-bg: black;
    --color-prize: orange;
    --color-text-white: white;
    --color-text-title: #3C917B;
    --color-box-shadow: #ddd;
    --color-focus: #555;
    --color-green-soft: #EBF9F6;
    --color-footer: #245c4c;
}


/* Estilos Generales */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--color-green-soft);
    margin-top: 4.7%;
}


/* Distintos Max widths */
.header__wrap, .footer__wrap{
    width: 2200px;
    margin: 0px auto;
}
.content__wrap {
    width: var(--mx-width);
    margin: 0px auto;
}


/* Cabecera */
.header{
    width: 100%;
    height: 70px;
    background-color: var(--color-primary);
    color: var(--color-text-white);
    position: fixed;
    z-index: 10;
    top: 0;
}

.header__wrap {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
}

/* Logo */
.header__logo{
    width: 300px;
    height: 50px;
    background-color: var(--color-primary);
    text-align: center;
    margin-top: 8px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
}
.header__logo h3{
    width: 300px;
    font-size: 40px;
    margin-right: 65px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header__logo:hover, .menu__list li:hover, .menu__list img:hover {
    outline: 1px solid white;
}

/* Barra de búsqueda */
.search__icon, .aside-box__icon{
    font-family: "WebSymbolsRegular";
}

.header__search{
    width: 93%;
    height: 40px;
    margin: 15px auto;
    background-color: var(--color-text-white);
    border: 1px solid var(--color-backgroung);
    border-radius: 5px;
    box-shadow: 1px 1px 4px var(--color-backgroung) inset;
    display: grid;
    grid-template-columns: 85% 15%;
}
.header__search input[type="text"]{
    width: 100%;
    border: none;
    cursor: auto;
    padding-left: 5px;
    border-radius: 5px 0px 0px 5px;
    color: var(--color-backgroung);
}
.header__search input[type="button"],
.header__search input[type="text"]{
    font-size: 16px;
    border: none;
    border-left: 1px solid var(--color-backgroung);
    color: var(--color-focus);
}
.header__search input[type="button"] {
    background-color: var(--color-prize);
    cursor: pointer;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    font-family: "WebSymbolsRegular";
}
.header__search input[type="button"]:hover {
    background-color: #ff8b00;
}
.header__search input[type="button"]:focus,
.header__search input[type="text"]:focus  {
    outline: none;
}

/* Menu de opciones */
.header__menu{
    height: 70px;
    background: transparent;
}

.menu__list {
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
}
.menu__list img {
    margin-top: 14%;
    cursor: pointer;
}
.menu__list li{
    font-size: 18px;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}
.menu__list li a{
    color: var(--color-text-white);
    text-decoration: none;
}


/* Banner */
.content__banner{
    width: 45%;
    margin: 20px auto;
    margin-bottom: 0px;
    padding-left: 70px;
    height: 100px;
    overflow: hidden;
}
.content__banner h1{
    font-family: "Arial";
    color: var(--color-bg);
    font-size: 40px;
    letter-spacing: 1px;
    margin: 10px auto;
    margin-left: 65px;
}


/* Tarjetas */
.content__cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 4%;
    animation: movimientoContinuo 25s infinite linear;
}
@keyframes movimientoContinuo {
    from {
        transform: translateX(-20%);
    } to {
        transform: translateX(-85%);
    }
}

.cards__card{
    width: 270px;
    height: 450px;
    border-radius: 2%;
    box-shadow: 2px 2px 8px 2px var(--color-box-shadow);
    overflow: hidden;
    margin: 22px;
    margin-top: 40px;
    cursor: pointer;
    background-color: var(--color-text-white);
    transition: all 300ms linear;
}
.cards__card:hover {
    border: 0.5px solid var(--color-backgroung);
    scale: 1.05;
}

.card__icon{
    width: 100%;
    height: 200px;
    margin: 0px auto;
}

.card__name{
    margin-top: 40px;
    width: 100%;
    height: 50px;
    font-size: 27px;
    text-align: center;
    color: var(--color-text-title);
    transition: all 500ms;
}

.card__prize{
    margin: 15px auto;
    text-align: center;
    color: var(--color-prize);
    font-size: 28px;
}
.card__prizeBefore {
    margin-left: 40%;    
    color: var(--color-focus);
    font-size: 18px;
}

/* Contenido de Artículos y Aside */
.content__articles__lateral {
    display: grid;
    grid-template-columns: 73% 27%;
}


/* Barra lateral */
.content__lateral{
    width: 300px;
    min-height: 1070px;
    margin: 20px;
}

.lateral__title{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-left: 52px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-bg);
}
.lateral__title-members {
    text-align: center;
    margin-left: 20px;
}

.aside-box{
    width: 85%;
    height: 240px;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 2px;
    border-radius: 2%;
    background-color: var(--color-text-white);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3), 0px 3px 7px rgba(0,0,0,0.3), 0px 1px var(--color-text-white) inset, 0px -3px 2px rgba(0,0,0,0.3) inset;
}

/* Login */
.lateral__login {
    width: 85%;
    background-color: var(--color-primary);
}
.lateral__login input[type="email"],
.lateral__login input[type="password"]{
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    width: 82%;
    height: 30px;
    border: 1px solid var(--color-backgroung);
    box-shadow: 1px 1px 1px var(--color-backgroung) inset;
    border-radius: 5px;
    padding-left: 30px;
    color: var(--color-gray);
    background-color: var(--color-text-white);
}
.lateral__login input[type="email"]:focus,
.lateral__login input[type="password"]:focus{
    color: var(--color-focus);
    box-shadow: 1px 1px 1px var(--color-gray) inset;
}
.lateral__login .lateral-box__user,
.lateral__login .lateral-box__password{
    display: block;
    text-align: center;
    position: absolute;
    margin-left: 30px;
    margin-top: 6px;
    height: 30px;
}
.lateral__login .lateral-box__password{
    margin-left: 30px;
    margin-top: 22px;
    font-size: 20px;
}
.lateral__login input[type="submit"]{
    text-align: center;
    width: 100px;
    height: 35px;
    margin: 50px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
    color: var(--color-text-white);
    background-color: var(--color-prize);
    border: 1px solid var(--color-prize);
    border-radius: 5%;
    cursor: pointer;
    font-size: 15px;
    font-family: "Arial";
}
.lateral__login input[type="submit"]:hover {
    background-color: #ff8b00;
}
.lateral__login a{
    display: block;
    margin-left: 18px;
    font-size: 15px;
    color: var(--color-secondary);
}
.lateral__login a:hover {
    color: gainsboro;
}


/* Miembros */
.lateral__members{
    width: 80%;
    height: 50%;
    display: grid; 
    grid-template-columns: 1fr;
    transition: all 500ms linear;
    background-color: var(--color-primary);
}
.members__member {
    width: 95%;
    margin: 6% auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: all 500ms linear;
}

.member__icon {
    cursor: pointer;
    width: 109px;
    border-radius: 3%;
    transition: all 500ms ease-in-out;
}
.member__icon:hover {
    transform: scale(1.1);
}

.member__text {
    color: var(--color-text-white);
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin-top: 5%;
}
.members__member:hover .member__text {
    animation: mostrarTexto 600ms;
}
@keyframes mostrarTexto {
    from {
        transform: translateX(200%);
        opacity: -1;
    } to {
        transform: translateY(0%);
    }
}

.text__name {
    font-size: 19px;
    margin-bottom: 20px;
}
.text__role {
    font-size: 17px
}


/* Artículos */
.content__articles{
    width: 860px;
    display: grid;
    grid-template-columns: 1fr;
}
.content__articles h2{
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 8px 2px var(--color-box-shadow);
    background-color: white;
    margin: 0px auto;
    margin: 0px
}

.articles__article{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 0.3fr;
    width: 98%;
    height: auto;
    border: 1px solid var(--color-backgroung);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    font-family: "Arial";
    background: var(--color-text-white);
    color: var(--color-bg);
    box-shadow: 1px 1px 2px var(--color-box-shadow);
}
.articles__article img {
    width: 170px;
}

.articles__article h4{
    font-size: 23px;
}
.articles__article h4 a{
    text-decoration: none;
    color: var(--color-text-title);
}
.articles__article h4 a:hover{
    text-decoration: underline;
}

.article__titles {
    display: grid;
    grid-template-columns: 1fr;
    margin: 15px;
    margin-top: 0px;
    margin-right: 0px;
}
.titles__description {
    font-size: 15px;
    margin-right: 0px;
}

.article__prize {
    margin: 0px auto;
    margin-top: 50px;
    font-size: 23px;
    color: var(--color-prize);
}

.article__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto;
    margin-top: 30px;
    font-size: 12px;
}
.article__info a {
    margin: 0px auto;
    margin-top: 27px;
    font-size: 12px;
}
.article__info a:hover{
    text-decoration: underline;
}

.article__info img {
    width: 100%;
    scale: 1.5;
    margin-top: 2%;
}

.article__icon {
    transition: all 300ms ease-in;
}
.article__icon:hover {
    scale: 1.1;
    cursor: pointer;
}

.article__clasificacion{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--color-primary);
    color: var(--color-text-white);
    height: 40px;
    line-height: 30px;
    text-align: center;
    margin: -10px;
    padding: 4px;
    padding-right: 0px;
    padding-top: 0px;
    font-size: 14px;
    border-radius: 0px 5px 0px 5px;
}
.article__clasificacion span{
    margin: 6px;
}
.article__clasificacion p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.articles__blog{
    height: 100px;
    margin-top: 60px;
    line-height: 100px;
    text-align: center;
    font-family: "BebasNeue";
}
.articles__blog a{
    font-family: "BebasNeue";
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--color-text-title);
    text-decoration: none;
}


/*Footer*/
.content__footer{
    width: 100%;
    background-color: var(--color-footer);
    color: var(--color-text-white);
    overflow: hidden;
    margin-top: 20px;
}

.footer__title {
    margin-top: 15px;
    font-size: 17px;
}

.footer__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__menu {
    margin: 0px auto;
    margin-top: 15px;
    font-size: 15px;
}

.menu__title{
    text-align: center;
    font-family: "Arial";
    color: var(--color-text-white);
    margin: 0px;
    font-size: 17px;
}

.list__element {
    margin-top: 15px;
    text-align: center;
    width: 158px;
}
.list__element a:hover {
    text-decoration: underline;
    color: var(--color-prize);
}

.footer__social {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
    padding: 0px;
    margin-right: 0px;
    margin-top: 10px;
    width: 150px;
}
.footer__social img, .footer__social a{
    width: 35px;
    margin: 0px
}
.footer__social img:hover {
    scale: 1.1;
}

.info__x {
    background-color: white;
    border-radius: 8px;
}

.footer__autor {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 175%;
    margin-top: 20px;
    width: 200px;
    font-size: 12px;
}
.autor__title {
    margin-left: 33px;
}